body{
    text-align: center;
}
#wordle_grid{
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;
    border: red 1px solid;
}

.div_word_Display{
    margin: auto;
    display: grid;
    grid-template-columns: 10px 10px 10px 10px 10px;
    gap: 3rem;
}

.pElementWordDisplayStyle{
    width: 2em;
    height: 2em;
    border: 1px solid black;
    font-size: 1.5em;
    text-align: center;
    padding: 0;
    background: white;
    border-radius: 30%;
}

.partially-correct{
    background: yellow;
}

.correct{
    background: green;
}

.incorrect{
    background: rgb(255, 0, 0);
}

.key{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
    font-size: 20px;
    color: #fff;
    background-color: #777;
    border: none;
  }
  
  .key:hover {
    background-color: #555;
    cursor: pointer;
  }
  